{variables, [
  {name, "supname"}, 
  {app_dir, "."},
  {copyright_year, "2012"},
  {author_name, "cybergrind"},
  {author_email,"cybergrind@gmail.com"}
]}.
{dir, "{{app_dir}}/src"}.
{template, "supervisor.erl", "{{app_dir}}/src/{{name}}.erl"}.
